@model IEnumerable<OA_Data.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Grade" asp-action="AddGrade" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiSo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiSo)
                </td>
                <td>
                    <a asp-controller="Grade" asp-action="UpdateGrade" asp-route-id="@item.MaLop" class="btn btn-primary">Update</a>
                    <a asp-controller="Grade" asp-action="DeleteGrade" asp-route-id="@item.MaLop" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
